body{
  font-family: Arial;
  background:#f2f2f2;
}
.question{
  background:#fff;
  padding:12px;
  margin-bottom:12px;
  border-radius:6px;
}
.correct{
  border-left:6px solid green;
  background:#e9ffe9;
}
.wrong{
  border-left:6px solid red;
  background:#ffecec;
}
button{
  padding:12px 20px;
  font-size:16px;
  cursor:pointer;
}
#resultBox{
  background:#fff;
  padding:15px;
  margin-top:20px;
  border-radius:6px;
  font-size:18px;
}